// backgrounds
$first-bg: #235e75;
$second-bg: #e63157;
$third-bg: #ffd56c;
$fourth-bg: #80ccad;
$fifth-bg: #efefef;
$sixth-bg: #091e2e;
$seventh-bg: #254a6e;


$portfolio-first: $first-bg;
$portfolio-second: $fourth-bg;
$portfolio-third: #8c4b7e;
$portfolio-fourth: $third-bg;
$portfolio-fifth: $second-bg;

$check-mark: #52d63e;


$white: #ffffff;
$black: #000000;
