.city-path {
  position: relative;
  z-index: 2;
}

@keyframes rotate-left {
  to {
    transform:rotateZ(360deg);
  }
}

@keyframes rotate-right {
  to {
    transform:rotateZ(-360deg);
  }
}

.header {
  position: relative;
  background: #faaa65;
  height: 100vh;
  height: 1500;
  overflow: hidden;
}

.header-gears {
  position: absolute;
  top: -250px;
  left: 50%;
  margin-left: (-1540px/2);
  width: 1540px;
  opacity: .07;
  z-index: 1;
}

.rotate-right {
  animation: rotate-right 45000ms linear infinite;
  transform-origin: 480px 300px 0;
}

.rotate-left {
  animation: rotate-left 75000ms linear infinite;
  transform-origin: 770px 1205px 0;
}
