.slide__background {
  .slide__gears {
    position: relative;
    top: -250px;
    left: 50%;
    width: 1540px;
    margin-left: (-1540px/2);
    opacity: .07;
    z-index: 1;

    &--right {
      animation: rotate-right 45000ms linear infinite;
      transform-origin: 480px 300px 0;
    }

    &--left {
      animation: rotate-left 75000ms linear infinite;
      transform-origin: 770px 1205px 0;
    }
  }
}

@keyframes rotate-left {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate-right {
  to {
    transform: rotateZ(-360deg);
  }
}

.slide__city {
  position: relative;
  z-index: 2;

  &--text {
    font-size: 20px;
    opacity: 1;
    transform: translate(0px, 0px);
  }

  &--header {
    font-family: Montserrat;
    font-size: 48px;
  }
}
